@media all and (min-width: 480px) {
  html {
    width: 100%;
    height: 100%;
    background: url("./heart.webp");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .Login {
    padding: 60px 0;
  }
  .classes-card {
    max-width: 320px;
    max-height: 1400px;
  }

  /* .MuiCardContent-root  */
  .login {
    width: 100vw;  
    height: 100vh;
    background-image: url("./heart.webp");
    background-size: cover;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
  }

  /* .content {
    align-self: center;
    width: 360px;
    height: 400px;
  } */

  .Login form {
    margin: 0 auto;
    max-width: 320px;
  }
  .main-back {
    max-height: 1400px;
    margin: auto;
    border-radius: 120px;
  }
  .root {
    padding: 100;
  }
  /* .container {
      display: 'flex',
    } */
  .textField {
    align-self: center;
    width: 200;
  }
  .menu {
    width: 200;
  }
}
